/node_modules
/public/hot
/public/storage
/storage/*.key
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

.DS_Store
*/.DS_Store
/.idea/.gitignore
/.idea/laravel-blog-api.iml
/.idea/misc.xml
/.idea/modules.xml
/.idea/php.xml
/.idea/vcs.xml
